<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="assets/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="header__left">
          <h3>START BOOTSTRAP</h3>
        </div>
        <div class="header__right">
          <button>Sign Up</button>
          <button>Log In</button>
        </div>
        <div class="header__mobile">
          <button><i class="fa-solid fa-bars"></i></button>
        </div>
      </div>
    </header>
    <div class="app">
      <main>
        <section class="app__hero">
          <h3>One Page Wonder</h3>
          <h4>Will Rock Your Socks Off</h4>
          <button>Learn More</button>
        </section>
        <section class="app__about">
          <div class="card">
            <div class="card__left">
              <h2>For those about to rock...</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
            <div class="card__right">
              <img
                src="https://startbootstrap.github.io/startbootstrap-one-page-wonder/assets/img/01.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="card">
            <div class="card__right">
              <img
                src="https://startbootstrap.github.io/startbootstrap-one-page-wonder/assets/img/01.jpg"
                alt=""
              />
            </div>
            <div class="card__left">
              <h2>For those about to rock...</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__left">
              <h2>For those about to rock...</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
            <div class="card__right">
              <img
                src="https://startbootstrap.github.io/startbootstrap-one-page-wonder/assets/img/01.jpg"
                alt=""
              />
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer>
      <p>Copyright © Your Website 2023</p>
    </footer>
  </body>
</html>
