.custom__cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 100px;
    &__card{
        width: 20%;
        text-align: center;
        padding: 20px;
        border: 1px solid black;
        &__img{
            width:100% ;
            height: 180px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__title{
            display: flex;
            flex-direction: column;
   
        }

    }
}