@font-face {
    font-family: mons;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: mons-italic;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}